<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Level</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.level %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
